<div class="top"></div>

<div class="content flex-col gap-20">

  <div class="about block" style="min-width: 500px">
    <p class="block-header">about this event</p>
    <div class="block-content">
      <p class="block-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac lobortis risus. Nam
        tincidunt sodales diam, accumsan feugiat risus semper eu. Sed nulla urna, euismod sed libero nec, varius feugiat
        sapien. Aliquam pretium scelerisque quam at ornare. Donec dignissim erat at placerat porta.</p>
      <div class="flex-row gap-40">
        <button class="block-btn">
          <p>Solve it</p>
        </button>
        <div class="flex-row align-center gap-20">
          <p>ENDS IN:</p>
          <app-timer [finish]="getDate()"></app-timer>
        </div>
      </div>
    </div>
  </div>

  <div class="main-blocks-content gap-20">
    <div class="flex-col gap-20 left-content">

      <div class="block">
        <p class="block-header">Developed skills</p>
        <div class="block-content">
          <p class="block-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac lobortis risus. Nam
            tincidunt sodales diam, accumsan feugiat risus semper eu.</p>
          <div class="flex-row gap-20">
            <div class="skill-card" style="background: var(--purple)">Algorithms</div>
            <div class="skill-card" style="background: var(--blue);">Math</div>
          </div>
        </div>
      </div>

      <div class="block">
        <p class="block-header">statement</p>
        <div class="block-content">
          <p class="block-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Tellus in metus vulputate eu scelerisque felis. Felis donec et
            odio pellentesque diam volutpat commodo sed egestas. Et sollicitudin ac orci phasellus egestas. Lacus
            laoreet non curabitur gravida arcu ac tortor dignissim. Enim lobortis scelerisque fermentum dui faucibus in.
            Eu non diam phasellus vestibulum lorem sed risus. Pretium nibh ipsum consequat nisl vel. Turpis in eu mi
            bibendum neque egestas congue quisque egestas. At volutpat diam ut venenatis tellus in metus vulputate. In
            arcu cursus euismod quis viverra nibh cras. Mauris pellentesque pulvinar pellentesque habitant morbi. Cursus
            metus aliquam eleifend mi in nulla posuere sollicitudin aliquam. In tellus integer feugiat scelerisque
            varius. Proin sagittis nisl rhoncus mattis. Sem viverra aliquet eget sit amet tellus cras adipiscing. Mus
            mauris vitae ultricies leo integer. Accumsan lacus vel facilisis volutpat. Cursus turpis massa tincidunt dui
            ut ornare lectus sit.
            <br><br>
            Lorem ipsum dolor sit amet consectetur adipiscing. Nisl rhoncus mattis rhoncus urna neque. Massa tempor nec
            feugiat nisl. Cursus vitae congue mauris rhoncus aenean vel elit. Molestie nunc non blandit massa enim nec
            dui. Sit amet nulla facilisi morbi tempus. Nulla posuere sollicitudin aliquam ultrices sagittis. Lacus vel
            facilisis volutpat est velit egestas dui id ornare. Tristique nulla aliquet enim tortor at. Bibendum neque
            egestas congue quisque egestas diam in arcu. Vel quam elementum pulvinar etiam. Libero enim sed faucibus
            turpis in. Eu nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Et odio pellentesque diam volutpat
            commodo sed. Eu facilisis sed odio morbi quis commodo odio aenean sed. A iaculis at erat pellentesque
            adipiscing commodo elit at imperdiet. Eget dolor morbi non arcu risus. Viverra justo nec ultrices dui sapien
            eget mi proin. Sed arcu non odio euismod lacinia. Aenean sed adipiscing diam donec adipiscing tristique.
          </p>
        </div>
      </div>

    </div>
    <div class="flex-col gap-20 right-content">

      <div class="block">
        <p class="block-header">Your friends</p>
        <div class="flex-row gap-20 flex-wrap" style="margin-top: 20px;">
          <app-friend-profile></app-friend-profile>
          <app-friend-profile></app-friend-profile>
          <app-friend-profile></app-friend-profile>
        </div>
      </div>

      <div class="block">
        <p class="block-header">Tournament Rating</p>
        <div class="block-content flex-row gap-40 align-center">
          <app-friend-profile></app-friend-profile>
          <p class="block-text" style="margin-bottom: 0;">You must submit your strategy before rate tournament.</p>
        </div>
        <div class="block-content just-center flex-row">
          <div class="flex-col align-center">
            <p class="rating">4.6</p>
            <div class="flex-row gap-10">
              <p>86 rates</p>
              <img style="width: 15px;" src="assets/user-white.svg">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
