<div class="top"></div>

<div class="content flex-col gap-20">
  <div class="about block">
    <p class="block-header">about this event</p>
    <div class="block-content">
      <p class="block-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac lobortis risus. Nam tincidunt sodales diam, accumsan feugiat risus semper eu. Sed nulla urna, euismod sed libero nec, varius feugiat sapien. Aliquam pretium scelerisque quam at ornare. Donec dignissim erat at placerat porta.</p>
      <div class="flex-row">
        <button class="block-btn"></button>
      </div>
    </div>
  </div>

  <div class="flex-row gap-20">
    <div class="flex-col gap-20" style="width: 100%;">
      <div class="block">
        <p class="block-header"></p>
      </div>
      <div class="block"></div>
    </div>

    <div class="flex-col gap-20">
      <div class="block"></div>
      <div class="block"></div>
    </div>
  </div>
</div>
