<div class="container">

  <div class="content">
    <p class="header font-size-large fw-600">Register to OnlyCode</p>
    <div class="inputs-container">
      <label class="label">
        <input [(ngModel)]="username" placeholder="" class="input" type="text" autocomplete="off" maxlength="30" required spellcheck="false" name="username" inputmode="text" >
        <span class="span">Username</span>
      </label>

      <label class="label">
        <input [(ngModel)]="email" placeholder="" class="input" type="email" autocomplete="off" maxlength="30" required spellcheck="false" name="email" inputmode="email" >
        <span class="span">Email</span>
      </label>

      <label class="label">
        <input [(ngModel)]="password1" placeholder="" class="input" type="password" autocomplete="off" maxlength="30" required spellcheck="false" name="password1" inputmode="password" >
        <span class="span">Password</span>
      </label>

      <label class="label">
        <input [(ngModel)]="password2" placeholder="" class="input" type="password" autocomplete="off" maxlength="30" required spellcheck="false" name="password2" inputmode="password" >
        <span class="span">Confirm password</span>
      </label>
    </div>
    <button (click)="register()" class="btn">register</button>
  </div>

</div>
