<div class="block block1">
  <div class="header font-size-xxlarge">
    <p class="ff-potra">First platform</p>
    <p class="ff-grotesque">to code games.</p>
  </div>
  <div class="demo-container">
    <img src="assets/demo.svg" alt="">
  </div>
  <div class="last-text">
    <div class="text">Tempus interdum in nunc eget elit. In vitae mattis accumsan amet, amet justo luctus in et non platea dapibus justo accumsan pellentesque id in lectus ornare ornare odio. Cras no.</div>
    <div class="buttons-div">
      <button class="btn learn-more">Learn More</button>
      <button class="btn start">Start Coding</button>
    </div>
  </div>
</div>

<div class="block block2"></div>

<div class="block block3"></div>
