/* VARIABLES */

:root { /* fonts */
  --ff-rubik:     "Rubik";
  --ff-noto:      "Noto Sans Syriac Eastern";
  --ff-inter:     "Inter";
  --ff-kharkiv:   "Kharkiv Tone";
  --ff-potra:     "Potra";
  --ff-grotesque: "Body Grotesque Trial";
}

:root[theme='light'] { /* colors[white-theme] */
}

:root[theme="dark"] { /* colors[dark-theme] */
}

:root { /* colors */
  --black:    #000000;
  --black2:   #101416;
  --blue1:    #121721;
  --white:    #ffffff;
  --white2:   #fefefe;
  --purple:   #7d33ff;
  --blue:     #fa2484;
  --gray:     #838383;
  --gray1:    #bfbfbf;
  --white-40: #FFFFFF40;
}

:root { /* sizes */
  --top-bar-height:  70px;
  --tournament-right-bar-width: 70px;
}

:root { /* transition duration times */
  --slow-transition-time: .6s;
  --fast-transition-time: .3s;
}
