/* VARIABLES */

:root { /* fonts */
  --ff-rubik:     "Rubik";
  --ff-noto:      "Noto Sans Syriac Eastern";
  --ff-inter:     "Inter";
  --ff-kharkiv:   "Kharkiv Tone";
  --ff-potra:     "Potra";
  --ff-grotesque: "Body Grotesque Trial";
}

:root[theme='light'] { /* colors[white-theme] */
}

:root[theme="dark"] { /* colors[dark-theme] */
}

:root { /* colors */
  --black:   #000000;
  --black2: #101416;
  --white:   #ffffff;
  --white2:   #fefefe;
  --purple:  #7d33ff;
}

:root { /* sizes */
  --top-bar-height:  70px;
  --right-bar-width: 300px;
}

:root { /* transition duration times */
  --slow-transition-time: .6s;
  --fast-transition-time: .3s;
}
